@model Poll

@{
    ViewBag.Title = "Answer Poll Questions";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Answer", "Client", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="poll-questions">
        @foreach (var question in Model.Questions)
        {
            <h4>@question.Text</h4>
            <div class="answers">
                @foreach (var answer in question.Answers)
                {
                    <div class="radio">
                        <label>
                            @Html.RadioButton("answerId", answer.Id, false)
                            @answer.Text
                        </label>
                    </div>
                }
            </div>
        }
    </div>

    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary">Submit Answer</button>
        </div>
    </div>
}
