@model UserPollViewModel

<h2>@Model.PollTitle</h2>

<form asp-action="AnswerPoll" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model.Questions != null && Model.Questions.Any())
    {
        @foreach (var question in Model.Questions)
    {
        <div class="form-group">
            <label>@question.QuestionText</label>
            @foreach (var answer in question.Answers)
            {
                <div>
                    <input type="radio" name="Questions[@Model.Questions.IndexOf(question)].Answers" value="@answer.AnswerId" @(answer.IsSelected ? "checked" : "") /> @answer.AnswerText
                </div>
            }
        </div>
    }
    }
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
